# vscode settings
.vscode/

# Python byte-compiled
__pycache__/

# Enviromenty variables
.env

# Media files
media/


# doit cache
.doit.db.dat
.doit.db.dir
.doit.db.bak

# NPM dependencies
node_modules/
