{% extends "products/base.pug" %}
{% load crispy_forms_tags %}

block title
  | Editar produto "{{ object.name }}"

block content

  h1 Editar produto "{{ object.name }}"

  {% crispy form form.helper %}

