{% extends "products/base.pug" %}
{% load static %}
{% load crispy_forms_tags %}

block title
  | Produtos

block content
  br

  div.form-group.text-left.bg-light(style="width: 20%; position: fixed; padding: 20px; left: 0; top: 50px; height: 100%;")
    form(action='' method='get')

      h3 Pesquisar...
      button(style="border: none; background: none;")
        i.fas.fa-search.text-right#search-btn(style="cursor: pointer; position: absolute; right: 25px; top: 26px;")

      br

      {{ filter.form.name__icontains|as_crispy_field }}

      {{ filter.form.categories|as_crispy_field }}

      .precos-dropdown(onclick="dropdown_prices()") Preço
        i.fas.fa-arrow-down
      #precos-fields
        div(style="padding: 5px;")
          {{ filter.form.price__gt|as_crispy_field }}
        div(style="padding: 5px;")
          {{ filter.form.price__lt|as_crispy_field }}    

      br
      br

      .row
        .col-sm-3
          input.btn.btn-info#search-form(type='submit' value='Buscar')
        .col-sm-3
          a.btn.btn-warning(href="{% url 'products-list' %}") Limpar

  div(style="margin-left: 23%")
    .row
      .col-md-10
        h1 Lista de produtos
      .col-sm
        a.btn.btn-success(href="{% url 'product-create'%}") Adicionar

    if messages
      ul.messages

      for message in messages
        li({% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}) {{ message }}

    div.row.mt-5#infinite-container

      for product in filter.qs
        div.col-sm-4
          a(href="{% url 'product-detail' pk=product.id %}" style="text-decoration: none; color: black;")
            div.card
              img.card-img-top(src="{{ product.images.all.first.image.url }}" alt="Imagem do produto")
              div.card-body
                h5.card-title {{ product.name }}
                p.card-text R${{ product.price }}
                a.btn.btn-primary(href="{% url 'product-update' pk=product.id %}" style="margin-right: 5px;") Editar
                a.btn.btn-danger(href="{% url 'product-delete' pk=product.id %}") Excluir

          br
      div.loading#loading(style="display: none;") Loading...
      if page_obj.has_next
        a.infinite-more-link(href="?page={{ products.next_page_number }}") Mais

  script.
    var infinite = new Waypoint.Infinite({
      element: $("#infinite-container")[0],
      onBeforePageLoad: function () {
        $("#loading").show();
      },
      onAfterPageLoad: function ($items) {
        $("#loading").hide();
      }
    });

