{% extends "products/base.pug" %}
{% load crispy_forms_tags %}
{% block title %}Deletar {{ object.name }}{% endblock %}
{% block content %}
<form method="post">{% csrf_token %}

  <h3>Você deseja deletar o produto: "{{ object.name }}"?</h3>
  <div class="row">
    <div class="col-sm-1">
      <input type="submit" value="Confirmar" class="btn btn-danger"/>
    </div>
    <div class="col-sm-1 ml-3"><a href="{% url 'products-list' %}" class="btn btn-info">Cancelar</a>
    </div>
  </div>
</form>{% endblock %}