{% extends "products/base.pug" %}
{% load crispy_forms_tags %}

block title
  | Deletar {{ object.name }}

block content
  form(method="post")
    {% csrf_token %}
    h3 Você deseja deletar o produto: "{{ object.name }}"?
    .row
      .col-sm-1
        input.btn.btn-danger(type="submit" value="Confirmar")
      .col-sm-1.ml-3
        a.btn.btn-info(href="{% url 'products-list' %}") Cancelar

