{% extends "products/base.pug" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Produtos{% endblock %}
{% block content %}<br/>
<div style="width: 20%; position: fixed; padding: 20px; left: 0; top: 50px; height: 100%;" class="form-group text-left bg-light">
  <form action="" method="get">
    <h3>Pesquisar...</h3>
    <button style="border: none; background: none;"><i id="search-btn" style="cursor: pointer; position: absolute; right: 25px; top: 26px;" class="fas fa-search text-right"></i>
    </button><br/>{{ filter.form.name__icontains|as_crispy_field }}
{{ filter.form.categories|as_crispy_field }}

    <div onclick="dropdown_prices()" class="precos-dropdown">Preço<i class="fas fa-arrow-down"></i>
    </div>
    <div id="precos-fields">
      <div style="padding: 5px;">{{ filter.form.price__gt|as_crispy_field }}

      </div>
      <div style="padding: 5px;">{{ filter.form.price__lt|as_crispy_field }}    

      </div>
    </div><br/><br/>
    <div class="row">
      <div class="col-sm-3">
        <input id="search-form" type="submit" value="Buscar" class="btn btn-info"/>
      </div>
      <div class="col-sm-3"><a href="{% url 'products-list' %}" class="btn btn-warning">Limpar</a>
      </div>
    </div>
  </form>
</div>
<div style="margin-left: 23%">
  <div class="row">
    <div class="col-md-10">
      <h1>Lista de produtos</h1>
    </div>
    <div class="col-sm"><a href="{% url 'product-create'%}" class="btn btn-success">Adicionar</a>
    </div>
  </div>{% if  messages %}
  <ul class="messages"></ul>{% for message in messages|__pypugjs_iter:1 %}
  <li % if message.tags % class="{}"alert alert-{{ message.tags }}"" % endif %="{}">{{ message }}</li>{% endfor %}{% endif %}
  <div id="infinite-container" class="row mt-5">{% for product in filter.qs|__pypugjs_iter:1 %}
    <div class="col-sm-4"><a href="{% url 'product-detail' pk=product.id %}" style="text-decoration: none; color: black;">
        <div class="card"><img src="{{ product.images.all.first.image.url }}" alt="Imagem do produto" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">R${{ product.price }}</p><a href="{% url 'product-update' pk=product.id %}" style="margin-right: 5px;" class="btn btn-primary">Editar</a><a href="{% url 'product-delete' pk=product.id %}" class="btn btn-danger">Excluir</a>
          </div>
        </div></a><br/>
    </div>{% endfor %}
    <div id="loading" style="display: none;" class="loading">Loading...</div>{% if  page_obj.has_next %}<a href="?page={{ products.next_page_number }}" class="infinite-more-link">Mais</a>{% endif %}
  </div>
</div>
<script>var infinite = new Waypoint.Infinite({
  element: $("#infinite-container")[0],
  onBeforePageLoad: function () {
    $("#loading").show();
  },
  onAfterPageLoad: function ($items) {
    $("#loading").hide();
  }
});
</script>{% endblock %}