{% extends "base.html" %}
{% block title %}Novo Produto{% endblock %}
{% load crispy_forms_tags %}

{% block content %}


<br>
<br>

<div class="row text-center">

    <div class="col-sm">
        <h1>Adicionar Novo Produto</h1>
    </div>

</div>

<div class="row">

    <form method="POST" enctype="multipart/form-data">

        <section id="other_inputs">

            {% csrf_token %}

            {{form|crispy}}

        </section>

        <div class="row" style="background-color: rgb(231, 255, 255); border-radius: 8px; padding: 5px;">

            <div class="col-sm text-left mt-auto">
                <label>Tamanhos</label>
            </div>

            <div class="col-sm text-right">
                <i class="fas fa-plus btn btn-primary" onclick="addTamanho()"></i>
            </div>
            
        </div>

        <br>

        <section id="container_tamanhos">

            <div class="row">
                <div class="col-sm">
                    <label for="tamanhos" class="requiredField">Tamanho</label>
                    <input maxlength="4" required type="text" name="tamanho class="text-uppercase form-control">
                </div>
                <div class="col-sm">
                    <label for="tamanhos" class="requiredField">Quantidade</label>
                    <input required type="number" name="quantidade" class="form-control">
                </div>
                <div class="col-sm">
                    <label for="tamanhos" class="requiredField">Cor</label>
                    <input required type="text" name="cor" class="text-capitalize form-control">   
                </div>
            </div>

        </section>

        <br>

        <input type="submit" class="btn btn-success" value="Adicionar">

    </form>

</div>

<!--Templates-->
<div id="inputs_tamanho" style="display: none;">
    <div class="row">
        <div class="col-sm">
            <label for="tamanhos" class="requiredField">Tamanho</label>
            <input maxlength="4" required type="text" name="tamanhos" class="text-uppercase form-control">
        </div>
        <div class="col-sm">
            <label for="tamanhos" class="requiredField">Quantidade</label>
            <input required type="text" name="tamanhos" class="form-control">   
        </div>
        <div class="col-sm">
            <label for="tamanhos" class="requiredField">Cor</label>
            <input required type="text" name="tamanhos" class="text-capitalize form-control">   
            <i onclick="deletarTamanho('templateId')" class="fas fa-trash" style="color: red; position: absolute; top: 112px; right: -10px; z-index: 100;"></i>
        </div>
    </div>
</div>

<br>
<br>

<script>

    //Faz os inputs terem capitalize
    var inputs_section = document.getElementById('other_inputs')

    var inputs = inputs_section.getElementsByTagName("input");

    for (var i=0; i < inputs.length; i++) {

        inputs[i].className += " text-capitalize";
        console.log('ola mundo');

    }

    function CreateGuid() {  
        function _p8(s) {  
            var p = (Math.random().toString(16)+"000000000").substr(2,8);  
            return s ? "-" + p.substr(0,4) + "-" + p.substr(4,4) : p ;  
        }  
        return _p8() + _p8(true) + _p8(true) + _p8();  
    }  

    function addTamanho(){

        var id = CreateGuid();

        var container = document.getElementById("container_tamanhos");
        var inputs = document.getElementById("inputs_tamanho").children[0];

        var clone = inputs.cloneNode(true);
        clone.id = id;

        container.prepend(clone);

        var cloneText = clone.innerHTML;
        cloneText = cloneText.replace(/templateId/g, id);
        clone.innerHTML = cloneText;

    }

    function deletarTamanho(id){

        var tamanho = document.getElementById(id);
        tamanho.remove();

    }

</script>

{% endblock %}