{% extends 'base.html' %}
{% block title %}{{produto.nome}}{% endblock %}


{% block content %}

<br>
<br>


<div class="row">
    <div class="col-sm">
        <h1>{{produto.nome}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <p>Quantidade de P: <span style="color: rgb(122, 122, 122);">{{produto.quantidade_de_p}}</span></p>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <p>Quantidade de M: <span style="color: rgb(122, 122, 122);">{{produto.quantidade_de_m}}</span></p>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <p>Quantidade de M: <span style="color: rgb(122, 122, 122);">{{produto.quantidade_de_g}}</span></p>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <p>Preço: R$<span style="color: rgb(122, 122, 122);">{{produto.preço}}</span></p>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <p>{{produto.descrição}}</p>
    </div>
</div>



{% endblock %}