{% extends "base.pug" %}
{% block title %}produtos{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
br
br




div#id_name__icontains.form-group.text-left(style="width: 10%; position: fixed; left: 3%;")
    form(action='' method='get')
            .row
                h3 Pesquisar... 
                i.fas.fa-search.text-right(style="cursor: auto")

            br

            .row
                label(for="id_name__icontains") Nome
                input#id_name__icontains.textinput.textInput.form-control(type='text' name='name__icontains')

            .row
                label(for="id_price__lt") Preço Menor Que
                input#id_price__lt.numberinput.form-control(type='number' name='price__lt' step='any')

            .row
                label(for="id_price__gt") Preço Maior Que
                input#id_price__gt.numberinput.form-control(type='number' name='price__gt' step='any')

            .row
                label(for="id_categories") Categoria
                input#id_categories.textinput.textInput.form-control(type='text' name='categories')

            br

            .row
                input.btn.btn-info(type='submit' value="Buscar")

div(style="padding-left: 10%; padding-right: 10%;")

    div.row
        div.col-sm
            h1 Lista De produtos

    a.btn.btn-primary(href="{% url 'product-create'%}") Adicionar

    br
    br

    <!--Messages-->

    {% if messages %}

    ul.messages

        {% for message in messages %}
        li({% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}) {{ message }}
        {% endfor %}

    {% endif %}

    br
    br



    <!--Lista De produtos-->
    div.row#infinite-container

        {% for product in filter.qs %}
        div.col-sm-3
            a(href="{% url 'product-detail' pk=product.id %}" style="text-decoration: none; color: black;")
                div.card
                    img.card-img-top(src="{{ product.imagem }}" alt="Imagem do produto")
                    div.card-body
                        h5.card-title {{ product.name }}
                        p.card-text R${{ product.price }}
                        a.btn.btn-primary(href="{% url 'product-update' pk=product.id %}" style="margin-right: 5px;") Editar
                        a.btn.btn-danger(href="{% url 'product-delete' pk=product.id %}") Excluir

            br
        {% endfor %}
        div.loading#loading(style="display: none;") Loading...
        {% if page_obj.has_next %}
        a.infinite-more-link(href="?page={{ products.next_page_number }}") Mais
        {% endif %}

script.
    var infinite = new Waypoint.Infinite({
        element: $("#infinite-container")[0],
        onBeforePageLoad: function () {
            $("#loading").show();
        },
        onAfterPageLoad: function ($items) {
            $("#loading").hide();
        }
    });

{% endblock %}
