{% extends "base.pug" %}
{% block title %}{{ product.name }}{% endblock %}


{% block content %}

br
br

div.row
    div.col-sm
        h1 {{ product.name }}

div.row
    div.col-sm
        p price: R$
            span(style="color: rgb(122, 122, 122);") {{ product.price }}

div.row
    div.col-sm
        p{{ product.description }}


{% endblock %}
