{% extends "base.pug" %}
{% block title %}Novo produto{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

br
br

div.row
    h1 Adicionar Novo produto

div.row

    {% csrf_token %}
    
    {% crispy form %}

br
br

{% endblock %}
