{% extends "base.pug" %}
{% block title %}Deletar {{ object.name }}{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
form(method="post")
    {% csrf_token %}
    h3 Você deseja deletar o produto: "{{ object.name }}"?
    .row
        .col-sm-1
            input.btn.btn-danger(type="submit" value="Confirmar")
        .col-sm-1.ml-3
            a.btn.btn-info(href="{% url 'products-list' %}") Cancelar
{% endblock %}
