{% extends "base.pug" %}
{% block title %}produtos{% endblock %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
br

div.form-group.text-left(style="width: 20%; position: fixed; left: 3%;")
    form(action='' method='get')
        .row
            h3 Pesquisar...
            i.fas.fa-search.text-right(style="cursor: auto")

        br

        {{ filter.form|crispy }}

        br

        .row
            .col-sm-4
                input.btn.btn-info(type='submit' value='Buscar')
            .col-sm-4
                a.btn.btn-success(href="{% url 'products-list' %}") Limpar

div(style="margin-left: 23%")

    .row
        .col-md-10
            h1 Lista de produtos
        .col-sm
            a.btn.btn-primary(href="{% url 'product-create'%}") Adicionar

    {% if messages %}

    ul.messages

        {% for message in messages %}
        li({% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}) {{ message }}
        {% endfor %}

    {% endif %}

    <!--Lista De produtos-->
    div.row.mt-5#infinite-container

        {% for product in filter.qs %}
        div.col-sm-4
            a(href="{% url 'product-detail' pk=product.id %}" style="text-decoration: none; color: black;")
                div.card
                    img.card-img-top(src="{{ product.images.all.first.image.url }}" alt="Imagem do produto")
                    div.card-body
                        h5.card-title {{ product.name }}
                        p.card-text R${{ product.price }}
                        a.btn.btn-primary(href="{% url 'product-update' pk=product.id %}" style="margin-right: 5px;") Editar
                        a.btn.btn-danger(href="{% url 'product-delete' pk=product.id %}") Excluir

            br
        {% endfor %}
        div.loading#loading(style="display: none;") Loading...
        {% if page_obj.has_next %}
        a.infinite-more-link(href="?page={{ products.next_page_number }}") Mais
        {% endif %}

script.
    var infinite = new Waypoint.Infinite({
        element: $("#infinite-container")[0],
        onBeforePageLoad: function () {
            $("#loading").show();
        },
        onAfterPageLoad: function ($items) {
            $("#loading").hide();
        }
    });

{% endblock %}
