/* Presets */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

h1, h2, h3, h4, p, span{

    font-family: "Rubik", sans-serif;

}

.fas{

    font-size: 20px;
    cursor: pointer;

}

.fa-search{

    position: absolute;
    top: 10px;
    right: 25px;

}

/* Messages */

ul.messages{

    padding: 0;

}

ul.messages li{

    list-style: none;

}

/* Paginator */

.pagination{

    margin-bottom: 20px;

}

.step-links{

    position: relative;
    margin-left: auto;
    margin-right: auto;

}

.step-links .current{

    margin-left: 5px;
    margin-right: 5px;

}

/* Cards */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/*Campos de pesquisa*/
.precos-dropdown{

    width: 100%;
    cursor: pointer; 
    width: 100%; 
    background-color: rgb(238, 238, 238);
    border-radius: 8px;
    padding: 10px;

}

.precos-dropdown .fa-arrow-down{

    position: absolute;
    right: 30px;
    margin-top: 3px;

}

#precos-fields{

    display: none;
    background-color: rgb(240, 240, 240);
    margin-top: -5px;
    border-radius: 8px;

}